nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #212121;
  color: #fff;
  margin: 0;
  padding: 25px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}
a{
  text-decoration:none; 
  color:inherit; 
  cursor:pointer; 
}
a:hover{
  color: #BB7043;
}

header {
  min-height: 800px;
  color: #fff;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./img/header.png") center center / cover no-repeat scroll;
}
header h1{
  font-size: 6rem;
  line-height: 1.4;
  text-align: center;
}
header h1 span{
  font-size: 160%;
}

/* Sections One & Three */
section.s1{
background: url("./img/s1.png") right center / 50% no-repeat scroll;
}
section.s3{
background: url("./img/s3.png") right center / 60% no-repeat scroll;
}
section.s1, section.s3{
  background-color: #212121;
  min-height: 1100px;
  padding-left: 10%;
  color: white;
}
.s1-content, .s3-content{
  padding-top: 250px;
  width: 40%
}
.s1-content h2, .s3-content h2{
  font-size: 5rem;
  font-weight: normal;
  margin: 20px 0;
  line-height: 1.0;
}
.s1-content p, .s3-content p{
  font-size: 1.7rem;
  width: 90%;
  margin: 0 !important;
}
.s1-content button, .s3-content button{
  padding: 16px 30px;
  background: #BB7043;
  margin-top: 10px;
  border: none;
}


/* Section Two */
section#homeS2{
  min-height: 500px;
  background: #BB7043;
  padding: 50px 120px 100px;
}
.covid{
  text-transform: uppercase;
  padding: 30px 120px;
  font-size: 1.4rem;
}
section#homeS2 div.cardloop{
  display: flex;
  justify-content: space-evenly;
}

/* Card */
figure{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px
}
.img-title, .day, .time{
  color: #ffffff;
}
.img-title{
  font-size: 2rem;
  text-align: center;
  padding: 0 30%;
}
.day, .time{
margin: 0;
}
.desc{
padding-right: 40px;
}


/* Section 4 */
.s4{
  display: flex;
  justify-content: center;
  background:#212121;
  color: #ffffff;
}
.card2-content{
  text-align: center;
  width: 49%;
  border: 0.5px solid lightgrey;
  padding: 50px 10%;
  display: relative;
}
.card2-content:first-of-type{
  border-left: none;
}
.card2-content:last-of-type{
  border-left: none;
}
.drink-desc{
  font-size: 2rem;
}
img.insta{
  display: absolute;
  top: 0;
  right: 0;
}
.card2-content:last-of-type .insta {
  display: none;
}

/* PreFooter Section Four */
#s4{
  display: flex;
  padding: 50px 10%;
  background: #212121;
  color: #fff;
  text-transform: uppercase;
  min-height: 300px
}
#s4 div.left {
  text-align: left;
  width: 50%;
  background: url("./img/s5.svg") left center / 30% no-repeat scroll;
}
#s4 div.right {
  display: flex;
  width: 50%;
  padding-top: 35px;
}
#s4 .right .one{
  padding-right: 10%;
}
ul{list-style:none;}
#s4 h5{
  color: #BB7043;
  font-size: 110%;
}
tr td:first-child{
  padding-right: 10%;
}

footer{
  border-top: 1px solid lightgrey;
  background: #212121;
  padding: 50px 10%;
}
footer div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  background: #212121;
  background: url("./img/bath.svg") center center / 30% no-repeat scroll;
}
footer img{
  display: inline-block;
}
footer img:first-of-type{
  margin-right: 20px;
}
